smplx
seaborn
pytorch_lightning
jaxtyping
git+https://github.com/NVlabs/tiny-cuda-nn/#subdirectory=bindings/torch
typeguard
nerfacc==0.3.3
pyrender
tensorboard
libigl
networkx
pysdf
PyMCubes
wandb
torchmetrics
bitsandbytes==0.38.1
sentencepiece
safetensors
taming-transformers-rom1504
controlnet_aux
torch_efficient_distloss
mediapy
easydict
albumentations==0.5.2
webdataset
Pillow
envlight


tqdm
rich
ninja
pandas
scipy
scikit-learn
matplotlib
opencv-python
imageio
imageio-ffmpeg
omegaconf
kiui

einops
plyfile
pygltflib

# for gui
kornia

# for stable-diffusion
huggingface_hub
diffusers
accelerate
transformers

# for dmtet and mesh export
xatlas
trimesh
pymeshlab

rembg[gpu,cli]

# gradio demo
gradio
gradio-model4dgs



